In [18]:
import pandas as pd
import os
import re
import itertools

In [10]:
path = '/home/ferambriz/Projects/SARS-CoV-2/Data/matrix_simetrized/'
files = os.listdir(path)
files = [archivo for archivo in files if re.search(r"clusters\.tsv$", archivo)]
files

['ncov_merge_ID_(2010-12-05, 2020-03-01]_matriz_simetrized_rates.tsv_clusters.tsv',
 'ncov_merge_ID_(2020-09-01, 2021-01-01]_matriz_simetrized_rates.tsv_clusters.tsv',
 'ncov_merge_ID_(2022-01-01, 2022-06-01]_matriz_simetrized_rates.tsv_clusters.tsv',
 'ncov_merge_ID_(2022-06-01, 2022-11-01]_matriz_simetrized_rates.tsv_clusters.tsv']

In [13]:
lst = []
for i in files:
    df = pd.read_csv(f'{path}/{i}')
    lst_i = []
    for j in df['assignments'].unique():
        lst_i.append(list(df[df['assignments']==j]['Unnamed: 0']))
    lst.append(lst_i)
lst

[[['Argentina',
   'Austria',
   'Belgium',
   'Brazil',
   'Canary Islands',
   'China',
   'Czech Republic',
   'Denmark',
   'Georgia',
   'Germany',
   'Greece',
   'Iceland',
   'Israel',
   'Italy',
   'Kenya',
   'Lebanon',
   'Luxembourg',
   'Malaysia',
   'Mexico',
   'Morocco',
   'New Zealand',
   'Nigeria',
   'Norway',
   'Oman',
   'Portugal',
   'Saudi Arabia',
   'Senegal',
   'Slovakia',
   'South Africa',
   'Spain',
   'Switzerland',
   'United Kingdom',
   'Zimbabwe'],
  ['Australia',
   'Cambodia',
   'Canada',
   'Finland',
   'France',
   'Hong Kong',
   'India',
   'Iran',
   'Japan',
   'Nepal',
   'Netherlands',
   'Singapore',
   'South Korea',
   'Sweden',
   'Taiwan',
   'Thailand',
   'USA',
   'United Arab Emirates']],
 [['Angola',
   'Botswana',
   'Eswatini',
   'Kenya',
   'Lesotho',
   'Madagascar',
   'Malawi',
   'Mozambique',
   'Oman',
   'Peru',
   'Russia',
   'Zambia',
   'Zimbabwe'],
  ['Argentina',
   "Cote d'Ivoire",
   'Denmark',
   'Ethiopia',
   'Germany',
   'Japan',
   'Mexico',
   'Puerto Rico',
   'Republic of the Congo',
   'Rwanda',
   'United Kingdom'],
  ['Australia',
   'Bahrain',
   'Bangladesh',
   'Bosnia and Herzegovina',
   'Cambodia',
   'Canada',
   'Canary Islands',
   'China',
   'Egypt',
   'Guatemala',
   'Hong Kong',
   'India',
   'Indonesia',
   'Iran',
   'Jordan',
   'Kuwait',
   'Malaysia',
   'Maldives',
   'New Zealand',
   'Pakistan',
   'Papua New Guinea',
   'Philippines',
   'Saudi Arabia',
   'Singapore',
   'Sri Lanka',
   'Taiwan',
   'Togo',
   'Uganda',
   'Ukraine',
   'United Arab Emirates'],
  ['Austria',
   'Belgium',
   'Bulgaria',
   'Burkina Faso',
   'Cameroon',
   'Cayman Islands',
   'Czech Republic',
   'Estonia',
   'Faroe Islands',
   'France',
   'Gambia',
   'Gibraltar',
   'Hungary',
   'Iraq',
   'Italy',
   'Morocco',
   'North Macedonia',
   'Poland',
   'Romania',
   'Senegal',
   'Serbia',
   'Slovakia',
   'Slovenia',
   'Spain',
   'Switzerland',
   'Thailand',
   'Tunisia'],
  ['Belarus',
   'Brazil',
   'Cabo Verde',
   'Colombia',
   'Costa Rica',
   'Georgia',
   'Ghana',
   'Israel',
   'Lithuania',
   'Mongolia',
   'Nepal',
   'Nigeria',
   'Palestine',
   'Panama',
   'Paraguay',
   'South Africa',
   'South Korea',
   'Turkey',
   'USA',
   'Uzbekistan']],
 [['Algeria',
   'Botswana',
   'Denmark',
   'Djibouti',
   'Kenya',
   'Lesotho',
   'Libya',
   'Mauritius',
   'Mozambique',
   'Senegal',
   'Tunisia',
   'USA',
   'Uganda',
   'Zambia',
   'Zimbabwe'],
  ['Angola',
   'Benin',
   'Cabo Verde',
   'Cameroon',
   'Egypt',
   'Gambia',
   'Ghana',
   'Guinea',
   'Malawi',
   'Mayotte',
   'Morocco',
   'Niger',
   'Nigeria',
   'Reunion',
   'South Africa',
   'Sudan',
   'Togo'],
  ['Argentina',
   'Australia',
   'China',
   'France',
   'Germany',
   'Hong Kong',
   'Japan',
   'Mexico',
   'Slovakia',
   'Switzerland',
   'United Kingdom']],
 [['Algeria',
   'Botswana',
   'Cabo Verde',
   'Democratic Republic of the Congo',
   'Denmark',
   'Djibouti',
   'Egypt',
   'Gabon',
   'Gambia',
   'Ghana',
   'Guinea',
   'Kenya',
   'Lesotho',
   'Libya',
   'Malawi',
   'Mauritius',
   'Mayotte',
   'Mexico',
   'Morocco',
   'Mozambique',
   'Nigeria',
   'Reunion',
   'Senegal',
   'South Africa',
   'Tunisia',
   'Uganda',
   'Zambia',
   'Zimbabwe'],
  ['Argentina',
   'Australia',
   'China',
   'France',
   'Germany',
   'Hong Kong',
   'Japan',
   'Slovakia',
   'Switzerland',
   'USA',
   'United Kingdom']]]

In [42]:
df_db = pd.DataFrame()

k = 0
for i in lst:
    df_db_i = pd.DataFrame()
    for j in i:
        comb_i = list(itertools.combinations(j, 2))
        df_i = pd.DataFrame(comb_i)
        df_db_i = pd.concat([df_db_i, df_i])
    df_db_i['Iteracion'] = k
    df_db = pd.concat([df_db, df_db_i])
    k+=1
df_db
#170

              0               1  Iteracion
0     Argentina         Austria          0
1     Argentina         Belgium          0
2     Argentina          Brazil          0
3     Argentina  Canary Islands          0
4     Argentina           China          0
..          ...             ...        ...
50     Slovakia             USA          3
51     Slovakia  United Kingdom          3
52  Switzerland             USA          3
53  Switzerland  United Kingdom          3
54          USA  United Kingdom          3

[2519 rows x 3 columns]

In [53]:
lst_cm = []; lst_cnm = []

for i,j in zip(df_db[0], df_db[1]):
    if len(df_db[(df_db[0]==i)&(df_db[1]==j)]) == len(df_db['Iteracion'].unique()) and [i,j] not in lst_cm:
        lst_cm.append([i,j])
    else:
        lst_cnm.append([i,j])
lst_cm

#identificar que cluster son? o me creo unos nuevos?

[['Argentina', 'Germany'],
 ['Argentina', 'United Kingdom'],
 ['Germany', 'United Kingdom'],
 ['Kenya', 'Zimbabwe'],
 ['Nigeria', 'South Africa'],
 ['Slovakia', 'Switzerland'],
 ['Australia', 'Hong Kong']]